<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Incident Report</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            
            <li class="nav-item">
              <% if(title=="Home") { %>
                  <a class="nav-link active" href="/">
              <% } else { %>
                  <a class="nav-link" href="/">
              <% } %>
                  <i class="fa-solid fa-igloo"></i> Home</a>
            </li>

              <li class="nav-item">
                <% if(title=="Incidents") { %>
                    <a class="nav-link active" href="/incidentslist">
                <% } else { %>
                    <a class="nav-link" href="/incidentslist">
                <% } %>
                <i class="fa-solid fa-triangle-exclamation"></i> Incidents</a>
              </li>

            
          </ul>
        </div>
      </div>
    </nav>