<% include Partials/header.ejs%>
<% include Partials/main_nav.ejs%>
    <!-- Main Content -->
    <img id="logo" src="./Assets/images/logo.png" alt="Incident Report logo">
    <p>Incident Report</p>
<% include Partials/footer.ejs%>