<% include Partials/header.ejs%>
<% include Partials/main_nav.ejs%>
    <!-- Main Content -->
    <div id="index">
        <img id="logo" src=".\Assets\images\logo-removebg-preview.png" alt="Incident Report logo">
        <h1 class="indextext">Incident Report</h1>
        <button class="btn btn-primary" onclick="window.location.href='/incidentslist'">See Incidents </button>
    </div>
<% include Partials/footer.ejs%>