body{
    
    background: linear-gradient(135deg, #ffffff,#ff0000);
    height: 100vh; /* 100% of the viewport height */
}

#index{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* items vertically top to bottom */
}

#logo{
    max-width: 50%; /*use max width to make sure the logo doesnt get bigger than the specified max with*/
}

.indextext{
    font-weight: bolder; /* setting the boldness of the text*/  
}