
#logo{
    max-width: 50%;
}
  
  /* Reset some default styles */
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  /* Basic body styling */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: beige;
    background: linear-gradient(#c8711f,#ff3b00);
    color: blue;
    padding: 0px;
  }
  /* Main container styling */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px;
    background-color: beige;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
   /* Header styles */
   header {
    text-align: center;
    padding: 50px ;
    background-color: #333;
    color: white;
  }
  header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
   /* Navigation styles */
   nav {
    text-align: center;
    margin-top: 0px;
  }
    /* Button styles */
    button {
        padding: 10px 20px;
        font-size: 1em;
        background-color: #5cb85c;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      button:hover {
        background-color: gray;
      }