<% include ../Partials/header.ejs%>
<% include ../Partials/main_nav.ejs%>
<main class="container">
    <!--Message Area-->
    <% if(message.length > 0){ %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <% } %>
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1 class="indextext">Login</h1>
            <form method="post" autocomplete="off">
                <!--username,displayName (case sensitive)-->
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" 
                    name="username" placeholder="Enter username" 
                    id="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" 
                    name="password" placeholder="Enter password" 
                    id="password" required autofocus>
                    <br>
                    or
                    <a href="/register">Register</a>
                </fieldset>
                <br>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary" value="Login">
                    <a href="/">
                    <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>
<% include ../Partials/footer.ejs%>